$brand-color: #F31660;

html {
  font-size: 1rem !important;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  --brand-color: #F31660;
}

:root {
  font-size: 1rem !important;
}

.nav-list .nav-list-item .nav-list-link:hover, .nav-list .nav-list-item .nav-list-link.active {
  background-image: linear-gradient(-90deg, rgba($brand-color, 1) 0%, rgba($brand-color, 1) 3px, rgba($brand-color, 0.2) 3px, rgba($brand-color, 0.15) 80%, rgba($brand-color, 0) 100%) !important;
}

.nav-list .nav-list-item .nav-list-expander,
.site-header .icon {
  color: $brand-color !important; 
}

@keyframes header-shadow {
  from {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }
  to {
    box-shadow: 0 18px 15px -16px rgba(0, 0, 0, 0.2);
  }
}

.site-header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 1px, transparent 1px);
}

@media (width < 50rem) {

  footer .d-md-none {
    margin-top: 1.5rem !important;
    padding-top: 0.25rem !important;
    border-top: 1px solid #eeebee !important;
    text-align: center !important;
  }

  .side-bar + .main .main-header {
    display: block !important;
  }

  .side-bar + .main .main-header .search {
    display: none;
  }

  .side-bar + .main .main-header.nav-open .search {
    display: block;
  }

  .aux-nav {
    position: fixed !important;
    top: 0px;
    height: 60px !important;
    right: 56px;
    z-index: 100 !important;
  }

  .aux-nav .site-button {
    width: 60px;
    overflow: hidden;
    color: transparent;
  }

  .aux-nav .site-button:before {
    content: "Start" !important;
    font-size: 1rem;
    color: $brand-color !important;
  }

  .main-header {
    border-bottom: none !important;
  }

  .site-nav .nav-list .nav-list-item {
    font-size: 1rem !important;
  }

  .search {
    border-top: 1px solid rgba(0, 0, 0, 0.3) !important;
    position: fixed !important;
    top: 60px;
    width: 100%;
    z-index: 100 !important;
  }

  .site-nav {
    margin-top: 66px;
  }

  .site-nav.nav-open {
    box-shadow: 0 18px 15px -16px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
    overflow-x: hidden;
    overscroll-behavior: contain; 
    max-height: calc(100vh - 127px);
  }

  .side-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99 !important;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    /* Link animation to the document scrolling root */
    animation: header-shadow linear both;
    animation-timeline: scroll(root);
    
    /* The shadow fades in quickly within the first 50px of scrolling */
    animation-range: 0px 50px; 
  }

  // Add top padding to the main content so it doesn't get hidden under the fixed header
  .main, .main-content-wrap {
    padding-top: 4rem; 
  }

  .site-button:hover {
    background-image: linear-gradient(-90deg, rgba($brand-color, 0.3) 0%, rgba($brand-color, 0.3) 80%) !important;
  }

  .site-title:hover {
      background-image: linear-gradient(-90deg, rgba($brand-color, 0) 0%, rgba($brand-color, 0.2) 50%) !important;
  }

}

.side-bar {
  background: radial-gradient(circle at bottom right, rgba($brand-color, 0.25) 0%, rgba($brand-color, 0) 50%),
  url('/assets/images/breadboard-bg.png');
}


@media (min-width: 50rem) {
  .search {
    border: solid 1px transparent;
  }
  .site-header, .main-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3) !important;
  }
  .main-header {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 1px, transparent 1px);
    height: 3.75rem !important;
    position: fixed;
    top: 0;
    z-index: 99 !important;
    width: 100%;
    max-width: 50rem;

    /* Link animation to the document scrolling root */
    animation: header-shadow linear both;
    animation-timeline: scroll(root);
    
    /* The shadow fades in quickly within the first 50px of scrolling */
    animation-range: 0px 50px; 
  }
  .main {
    padding-top: 3.75rem;
  }
  .side-bar {
    border-right: 1px solid rgba(0, 0, 0, 0.3) !important;
    background: radial-gradient(circle at bottom right, rgba($brand-color, 0.25) 0%, rgba($brand-color, 0) 50%),
    url('/assets/images/breadboard-bg.png');
  }
}
