<meta name="author" content="Utshaho Gupta">
<meta property="og:title" content="{{ page.title | default: site.title }}">
{% if page.noindex %}
  <meta name="robots" content="noindex, nofollow">
{% endif %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-00FD6QB7EM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-00FD6QB7EM');
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glightbox/dist/css/glightbox.min.css" />
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="{{ '/assets/js/header.js' | relative_url }}"></script>